body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    background-color: #ffffff;
    padding: 25px 30px;
    width: 320px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}

button {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    background-color: #007bff;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px 0px;
}

button:hover {
    background-color: #0056b3;
}


#display{
    width: 200px;
    background-color: aqua;
    color: black;
    text-align: center;
}