* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

h1 {
    display: flex;
    justify-content: center;
    margin: 50px;
    font-size: 40px;
}

.subtitle-1 {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 20px 0 20px;
}

.subtitle-2 {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px 40px 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 20px; 
}

.child-container1 {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 648px;
    border: 1px solid gray;
    border-radius: 5px;
}

.left-img {
    width: 100%;
    height: 400px;
}

.right-img {
    width: 200px;
    height: 200px;
}


.child-container2 {
    display: flex;
    flex-direction: column;
    height: 648px;
    gap: 20px;
    border-radius: 5px;
}

.mobile-search{
    display: none;

}
.first-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    border: 1px solid gray;
    border-radius: 5px;
}

.right-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-container h3,
.left-container p,
.left-container a {
    margin: 20px;
}

.tag{
    visibility: hidden
}

.tag-name{
    display: none;
}
.empty-line {
    display: none;
    width: 750px;
    height: 1px;
    background-color: gray;
}

.left-bottom {
    margin: 5px 0 20px 20px;
    display: flex;
    gap: 50px;
}
.left-container hr{
    display: none;
}
.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content p {
    padding-right: 40px;
}
.icon span{
    color: black;
}
#read-more {
    cursor: pointer;
    padding-right: 40px;
}

@media screen and (min-width:300px ) and (max-width:620px){
    .container{
        padding: 0px;
    }
    h1{
        font-size: 16px;
        margin:20px 0 -10px 0;
    }
    .subtitle-1{
        text-align: center;
        font-size: 12px;
    }
    .subtitle-2{
        display: none;
    }

    .child-container1{
        display:none;
    }
    .child-container2{
        flex-direction: column;
        gap: 0;
    }
    .mobile-search{
        display: flex;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 7px;
        border: 1px solid gray;
        width: max-content;
        align-items: center;
        align-content: center;
        align-self: center;
        margin-left: 25%;
        border-radius: 10px;
        padding: 5px;
        gap: 5px;

    }
    .mobile-search input{
        border: 0;
    }
    .first-right{
        flex-direction: row;
        align-items: center;
        gap:10px;
        padding:0px;
        margin: 10px;
    }

    .right-img{
        width:100px;
        height:10rem;
    }
    .content{
        gap:10px;
    }
    .content h3{
        font-size: 16px;
    }
    .content p{
        font-size: 12px;
        padding-right: 0;
    }
    .right-bottom{
        display: flex;
        justify-content: flex-start;
        font-size: 12px;
        order:-1;
    }
    .empty-line{
        width:100%;
        background-color: black;
    }
     .icon-group {
        display: flex;
        gap: 12px;
        flex-wrap: wrap;
    }
    .icon{
        display: flex;
        align-items:center;
        gap:4px;
    }

    .mobile-read-more {
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;
    }

    .mobile-read-more .arrow {
        font-size: 22px;
        cursor: pointer;
    }
    .content>span{
        font-size: 12px;
        color: blue;
    }
    .tag,.tag-name{
        display: block;
        visibility: visible;
    }

}

@media  screen and (min-width:621px) and (max-width:1024px) {
    .container{
        padding: 0px;
    }
    h1{
        font-size: 23px;
        margin:20px 0 -10px 0;
    }
    .subtitle-1{
        text-align: center;
        font-size: 16px;
        width: 50%;
        position: relative;
        left: 23%;
    }
    .subtitle-2{
        display: none;
    }

    .child-container1{
        display:none;
    }
    .child-container2{
        flex-direction: row;
        gap: 0;
    }

    .first-right{
        flex-direction: column;
        align-items: center;
        gap:10px;
        width: 33.33%;
        height: 300px;
        padding:0px;
        margin: 10px;
        border: none;
    }

    .right-img{
        width:100%;
        height:100%;
        position: relative;
        top: 19%;
        z-index: -1;
        border-radius: 8px;
    }
    .content{
        gap:5px;
        border: 2px solid grey;
        width: 87%;
        background-color: white;
        border-radius: 8px;
    }
    .content h3{
        font-size: 20px;
        margin: 0px 10px 5px 10px;
    }
    .content p{
        font-size: 14px;
        padding-right: 0;
        margin: 0px 10px 5px 10px;
    }
    .right-bottom{
        display: flex;
        justify-content: flex-start;
        font-size: 15px;
        order:-1;
    }
    .empty-line{
        width:100%;
        background-color: black;
    }
    .icon-group {
        display: flex;
        flex-wrap: wrap;
        margin: 10px 10px 0px 10px;
    }
    .icon{
        display: flex;
        align-items:center;
        gap:4px;
    }
    .content>span{
        font-size: 14px;
        color: blue;
        margin: 0px 10px 5px 10px;
    }
    .tag-name{
        display: block;
        position: relative;
        right: 10%;
    }
    .tag,.tablet{
        display: none;
        visibility: hidden;
    }

    .tablet-category{
        background-color: #f1f5fc;
        border-radius: 6px;
        text-align: center;
        height: 22px;
        width: 40%;
        position: relative;
        left: 29%;
    }

}