body{
    margin: 0;
    padding: 0;
}
.home{
    display: flex;
    flex-direction: row;
    background:aqua;
    align-items: center;
    height: 50px;
    justify-content: center;
}

.home a{
    text-decoration: none;
    margin: 10px;
    color: black;
}

.home a:hover{
    cursor: pointer;
}


.images{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}

.images img{
    height: 400px;
    width:600px
}

h2,h1{
    margin: 10px;
}

li{
    font-size: 20px;
}