.container{
    display: grid;
    width: 600px;
    height: 600px;
    border: 2px solid black;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 200px 180px 200px;
    gap: 10px;
    grid-template-areas: "one two three"
    "four five six"
    "seven eight nine";
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.one{
    background-color: aqua;
    grid-area: one;
    border: 2px solid grey;
}
.two{
    background-color: blanchedalmond;
    grid-area: two;
    border: 2px solid grey;
}
.three{
    background-color: blueviolet;
    grid-area: three;
    border: 2px solid grey;
}
.four{
    background-color: yellowgreen;
    grid-area: four;
    border: 2px solid grey;
}
.five{
    background-color: blue;
    grid-area: five;
    border: 2px solid grey;
}
.six{
    background-color: yellow;
    grid-area: six;
    border: 2px solid grey;
}
.seven{
    background-color: aquamarine;
    grid-area: seven;
    border: 2px solid grey;
}
.eight{
    background-color: cadetblue;
    grid-area: eight;
    border: 2px solid grey;
}
.nine{
    background-color: red;
    grid-area: nine;
    border: 2px solid grey;
}