*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

p{
    text-align: left;
}
header{
    border: 1px solid black;
    margin-top: 1px;
}

header img,
.navbar,
header input {
    display: inline-block;
    vertical-align: middle;
}

header input{
    float: right;
    margin-top: 27px;
    margin-right: 10px;
    width: 114px;
    height: 26px;
}


header img{
    width: 100px;
    height: 50px;
    margin: 20px 0px 10px 20px;
}

.navbar ul li{
    display: inline-block;
    padding-right: 70px;
}

.navbar ul li:first-child a{
    color: red;
    margin-left: 30px;
}

.navbar ul li a {
    color: black;
}
section {
    border: 1px solid grey;
    margin: 20px;
    padding: 40px;
    position: relative;
    height: 450px;
}

section div {
    display: inline-block;
    width: 45%;
    vertical-align: middle;
}

section h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: black;
}

section p {
    font-size: 16px;
    line-height: 1.6;
    color: black;
    margin-bottom: 30px;
}

section button {
    height: 40px;
    width: 120px;
    background-color: orangered;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

section>img {
    display: inline-block;
    width: 45%;
    height: 350px;
    background-color: white;
    vertical-align: middle;
    margin-left: 5%;
    object-fit: cover;
}
.container {
    border: 1px solid grey;
    margin: 20px;
    padding: 40px 20px;
    text-align: center;
    height: 600px;
}

.article {
    display: inline-block;
    width: 30%;
    margin: 1.5%;
    vertical-align: top;
    font-size: 16px; 
    text-align: left;
}

.article img {
    width: 100%;
    height: 350px;
    background-color: white;
    object-fit: cover;
    margin-bottom: 15px;
}

.article h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: black;
}

.article p {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.6;
    color: black;
    margin-bottom: 12px;
}

.article a {
    color: orangered;
    font-weight: bold;
    font-size: 14px;
}

footer {
    background: white;
    border: 1px solid grey;
    padding: 20px 30px;
    font-family: Arial, sans-serif;
}

.top {
    width: 100%;
}

.logo {
    float: left;
}

#cat {
    width: 50px;
    height: 35px;
}

.link {
    display: inline-block;
    margin: 0 20px;
    font-size: 14px;
    color: black;
}

.social {
    float: right;
    margin-left: 15px;
}

.social img {
    width: 18px;
    height: 18px;
    opacity: 0.7;
}

.top {
    overflow: hidden;
    text-align: center;
}

.bottom {
    text-align: center;
    margin-top: 15px;
}

.bottom span {
    margin: 0 25px;
    font-size: 14px;
    color: orangered;
}

