:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-size-base: 16px; 
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--font-size-base); 
  line-height: 1.5;
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}


h1 { font-size: 2.5rem; font-weight: 700; margin-bottom: 1rem; }
h2 { font-size: 2rem; font-weight: 600; margin-bottom: 0.75rem; }
h3 { font-size: 1.75rem; font-weight: 500; margin-bottom: 0.5rem; }
h4 { font-size: 1.5rem; font-weight: 500; margin-bottom: 0.5rem; }
h5 { font-size: 1.25rem; font-weight: 400; margin-bottom: 0.25rem; }
h6 { font-size: 1rem; font-weight: 400; margin-bottom: 0.25rem; }

p, span, td, th, li {
  font-size: 1rem;
}

table {
  font-family: inherit;
  font-size: 1rem;
  border-collapse: collapse;
}

thead {
  background-color: #f4f4f4;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #eaeaea;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  thead {
    background-color: #222;
  }

  tbody tr:nth-child(even) {
    background-color: #111;
  }

  tbody tr:hover {
    background-color: #333;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 12px;
  }
}
