
.login-btn {
  padding: 8px 16px;
  border-radius: 20px;
  border: none;
  background: linear-gradient(135deg, #667eea, #5a67d8);
  color: white;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(102, 126, 234, 0.4);
}

.login-btn:hover {
  box-shadow: 0 8px 20px rgba(102, 126, 234, 0.6);
}



.login-container {
  width: 400px;
  background: #ffffff;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.25);
  margin: 15px;
}
.dark-container .login-container{
  background-color: #1b1919;
  box-shadow: 0 10px 30px rgba(255, 255, 255, 0.768);
}
.login-container h2 {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.dark-container .login-container h2{
  color: #ffffff;
}


.login-container form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.login-container label {
  font-size: 14px;
  font-weight: 600;
  color: #444;
}

.dark-container .login-container label{
  color: #ffffff;
}

.login-container input,
.login-container textarea {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
  outline: none;
}

.login-container input:focus,
.login-container textarea:focus {
  border-color: #667eea;
  box-shadow: 0 0 0 2px rgba(102, 126, 234, 0.2);
}

.login-container textarea {
  resize: none;
  min-height: 80px;
}

.login-container button {
  padding: 10px;
  border-radius: 8px;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

