.img-popup {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1000;
}

.img-popup > div {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 700px;
  color: black;
}

.img-popup > div > div {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  margin-top: 15px;
}


.img-popup img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}


.img-popup button {
  margin-top: 20px;
  padding: 8px 14px;
  border-radius: 6px;
  border: none;
  background: #0070f3;
  color: white;
  cursor: pointer;
}

.img-popup button:hover {
  background: #0059c1;
}